/*Main Style Sheet*/

/*  Main colors used #c74ac7 and #7d107d  */

/*  Lato Font for body  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Sansita google font used for female artist pages */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

/* Righteous google font used for male artist pages */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*  CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/*  Main Navigation  */

nav {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
}

nav .nav-links {
    display: inline-block;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px 20px;
    color: #c74ac7;
    text-decoration: none;
    text-transform: uppercase;
}

nav a.active, nav a:hover{
    color: white;
} 

nav .active {
    background-color: #c74ac7;
}

nav .nav-links:hover{
    background-color: #7d107d;
}

/*  Mobile Navigation  */
nav .mobile-bars {
    color: #7d107d;
    display: none;
}

nav .mobile-bars:hover {
    color: #c74ac7;
}


/*  Social Media    */
.social-btns {
    font-size: 1.5em;
    position: fixed;
    right: 10px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fa-facebook {
    color: #1877f2;
}

.fa-twitter {
    color: #00acee;
}

.fa-instagram-square {
    color: #4c5fd7;
}

.fa-youtube {
    color: #ff0000;
}


/* Artist page styles*/

/*      HERO SECTION    */
.hero-section{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;

}

.hero-img {
    border-radius: 90%;
    width: 400px;
    max-width: 100%;
    height: auto;
}

.hero-text {
    text-align: center;
    font-size: 3em;
}

.female-titles, .male-titles {
    color: #c74ac7;
    letter-spacing: 3px;
    display: block;
}

.female-titles {
    font-family: 'Sansita Swashed', cursive;
}

.male-titles {
    font-family: 'Righteous', cursive;
}



/*  BIO SECTION  */

.bio-titles {
    border-radius: 5px;
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
    background-color: #c74ac7;
    color: white;
    padding: 10px;
    font-size: 2em;
}

.bio-sections {
    margin: 40px 30px;
    display: flex;
    align-items: center;
}

.bio-paragraph {
    margin: 0 25px;
    line-height: 50px;
}

.bio-img {
    border-radius: 50%;
    max-width: 100%;
    width: 300px;
    height: 300px;
}

/*  FOOTER  */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #7d107d;
}

.footer-links {
    font-size: 1.4em;
    padding: 10px 0;
    color: white;
  
}

@media screen and (max-width: 600px) {
    .nav-bar a:not(:first-child) {
        display: none;
    }
    .nav-bar a.mobile-bars {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar.responsive {
        position: relative;
    }

    .nav-bar.responsive a.mobile-bars {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-bar.responsive .nav-links {
        float: none;
        display: block;
        text-align: left;
    }
}



