/*  Main colors used rgb(189, 64, 189); and #7d107d  */

/*  Lato Font for body  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Sansita google font used for female artist pages */
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

/* Righteous google font used for male artist pages */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/*  CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

body.fade {
  opacity: 0;
}

/*  Navbar  */
nav {
  top: 0;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
}

.nav-links {
  display: inline-block;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 15px;
  color: rgb(189, 64, 189);
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
}

nav a.active,
nav a:hover:not(:first-child) {
  color: white;
}

nav .active {
  background-color: rgb(189, 64, 189);
}

nav .nav-links:hover:not(:first-child) {
  background-color: #7d107d;
}

/*Home page styles*/
.home-container {
  background-color: black;
  border-radius: 15px;
  box-shadow: 25px 25px 10px 2px #7d107d;
  margin: 200px auto;
  padding: 10% 0;
  width: 50%;
  height: 50%;
}

#home-title {
  color: white;
  font-family: "Sansita Swashed", cursive;
  font-size: 2em;
  text-align: center;
  letter-spacing: 5px;
}


.main-title {
  margin: 150px auto 20px;
  box-shadow: 5px 15px 3px 2px black;
  padding: 20px;
  border-radius: 15px;
  max-width: fit-content;
  background-color: rgb(189, 64, 189);
  color: white;
  font-size: 1.7em;
}

#home-para {
  font-size: 1.5em;
  text-align: center;
}

.section-styles {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  padding: 20px;
  margin: 10% 40px;
  background-color: white;
  box-shadow: 15px 20px 10px 2px #7d107d;
  border-radius: 10px;
}

.home-img {
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 3px 2px black;
  border-radius: 20px;
  max-width: 80%;
}

/* Artist page styles*/

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.hero-img {
  border-radius: 90%;
  min-width: 100px;
  max-width: 23%;
  height: auto;
}

.hero-text {
  text-align: center;
  font-size: 2.5em;
}

.female-titles,
.male-titles {
  color: rgb(189, 64, 189);
  letter-spacing: 3px;
  display: block;
}

.female-titles {
  font-family: "Sansita Swashed", cursive;
}

.male-titles {
  font-family: "Righteous", cursive;
}


/*  ARTIST LINKS AND RESOURCES  */

.artist-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin: 60px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px #7d107d;
}

.artist-links {
  font-size: 1.4em;
  padding: 20px 10px;
  background-color: rgb(189, 64, 189);
  margin: 15px;
  border-radius: 5px;
  color: white;
}

.resources-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Styles for quiz */

.quiz-container {
  margin: 20px;
  text-align: center;
}


.artist-review {
  text-align: center;
  display: block;
  color: blue;
  margin: 70px auto;
}

.question {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  background-color: rgb(189, 64, 189);
  max-width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

.answers {
  margin: 40px 0;
}

.answers label {
  display: block;
  margin: 15px 0;
}

#submit,
#reset {
  font-size: 1.1em;
  background-color: #7d107d;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  padding: 20px;
  margin: 0 15px;
  cursor: pointer;
  box-shadow: 4px 4px 10px 2px black;
}

#submit:hover {
  background-color: #7d107d;
}

#results,
#results-message {
  color: black;
  font-size: 1.2em;
}

#results {
  margin: 30px 0px 5px;
}

#results-message {
  margin: 10px 0;
}

#answer-key {
  background-color: rgb(189, 64, 189);
  color: white;
  font-size: 1.1em;
  margin: 10px 0;
  max-width: fit-content;
  margin: 50px auto;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 4px 4px 10px 2px #7d107d;
}

.answer-key {
  font-size: 1.3em;
}

.correct {
  font-size: 1.2em;
  padding: 20px;
}

/* Contact Form styles*/
.form {
  display: block;
  margin: 100px auto;
}

/*  Social Media    */
.social-btns {
  font-size: 2.5em;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-facebook {
  color: #1877f2;
}

.fa-twitter {
  color: #00acee;
}

.fa-instagram-square {
  color: #8a3ab9;
}


/*Footer styles*/
.footer-container {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(189, 64, 189);
  column-gap: 10px;
  margin-top: 40px;
}

.footer-links {
  font-size: 1em;
  margin: 10px 0;
  color: white;
}

@media (max-width: 700px){
  .hero-img {
    display: none;
  }
}

@media (max-width: 630px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 500px){
  .nav-links{
    font-size: 0.7em;
  }

  .main-title {
    font-size: 1.2em;
  }

  .artist-links {
    font-size: .9em;
  }
}

@media (max-width: 460px) {
  .footer-links {
    font-size: 0.5em;
  }
}
