/*Main Style Sheet*/

/*  Main colors used #c74ac7 and #7d107d  */

/*  Lato Font for body  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*  CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/*  Main Navigation  */

nav {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
}

nav a {
    display: inline-block;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px 20px;
    color: #c74ac7;
    text-decoration: none;
    text-transform: uppercase;
}

nav a.active, nav a:hover{
    color: white;
} 

nav a.active {
    background-color: #c74ac7;
}

nav a:hover{
    background-color: #7d107d;
}

/*  Social Media    */
.social-btns {
    font-size: 1.5em;
    position: fixed;
    right: 10px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fa-facebook {
    color: #1877f2;
}

.fa-twitter {
    color: #00acee;
}

.fa-instagram-square {
    color: #4c5fd7;
}

.fa-youtube {
    color: #ff0000;
}



