/*Main Style Sheet*/

/*  Main colors used #c74ac7 and #7d107d  */

/*  Lato Font for body  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Sansita google font used for female artist pages */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

/* Righteous google font used for male artist pages */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*  CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/*  Main Navigation  */

nav {
    top:0;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
}

nav .nav-links {
    display: inline-block;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px 20px;
    color: #c74ac7;
    text-decoration: none;
    text-transform: uppercase;
}

nav a.active, nav a:hover:not(:first-child){
    color: white;
} 

nav .active {
    background-color: #c74ac7;
}

nav .nav-links:hover:not(:first-child) {
    background-color: #7d107d;
}

/*  Mobile Navigation  */
nav .mobile-bars {
    color: #7d107d;
    display: none;
}

nav .mobile-bars:hover {
    color: #c74ac7;
}


/*  Social Media    */
.social-btns {
    font-size: 1.5em;
    position: fixed;
    right: 10px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fa-facebook {
    color: #1877f2;
}

.fa-twitter {
    color: #00acee;
}

.fa-instagram-square {
    color: #4c5fd7;
}

.fa-youtube {
    color: #ff0000;
}


/* Artist page styles*/

/*      HERO SECTION    */
.hero-section{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.hero-img {
    border-radius: 90%;
    width: 20%;
    max-width: 100%;
    height: auto;
}

.hero-text {
    text-align: center;
    font-size: 2.5em;
}

.female-titles, .male-titles {
    color: #c74ac7;
    letter-spacing: 3px;
    display: block;
}

.female-titles {
    font-family: 'Sansita Swashed', cursive;
}

.male-titles {
    font-family: 'Righteous', cursive;
}



/*  BIO SECTION  */

.bio-titles, .learn-more {
    border-radius: 5px;
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
    background-color: #c74ac7;
    color: white;
    padding: 10px;
    font-size: 2em;
}

.bio-sections {
    margin: 40px 30px;
}

.bio-paragraph {
    margin: 0 25px;
    line-height: 50px;
}


/*  ARTIST LINKS AND RESOURCES  */

.artist-resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    margin: 60px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 2px #7d107d;
}

.artist-links {
    font-size: 1.4em;
    padding: 20px 10px;
    background-color: #c74ac7;
    margin: 15px;
    border-radius: 5px;
    color: white;
}

/*  Styles for quiz */

.quiz-container {
    margin: 20px;
    text-align: center;
}

.quiz-title {
    border-radius: 5px;
    max-width: fit-content;
    background-color: #7d107d;
    color: white;
    padding: 10px;
    font-size: 2em;
    margin: 100px auto 20px;
}

.artist-review {
    text-align: center;
    display: block;
    color: blue;
    margin: 30px auto;
}

.question{
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #c74ac7;
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
}

.answers {
    margin: 40px 0;
}

.answers label{
    display: block;
    margin: 15px 0;
}

#submit, #reset {
    font-size: 1.1em;
    background-color: #7d107d;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 20px;
    margin: 0 15px;
    cursor: pointer;
    box-shadow: 4px 4px 10px 2px black;
}

#submit:hover{
    background-color: #7d107d;
}

#results, #results-message{
    color: black;
    font-size: 1.2em;
}

#results {
    margin: 30px 0px 5px; 
}

#results-message{
    margin: 10px 0;
}

#answer-key{
    background-color:#c74ac7 ;
    color: white;
    font-size: 1.1em;
    margin: 10px 0;
    max-width: fit-content;
    margin: 50px auto;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 4px 4px 10px 2px #7d107d;
}

.answer-key {
    font-size: 1.3em;
}

.correct {
    font-size: 1.2em;
    padding: 20px;
}

/*About page*/
.main-title {
    margin: 100px auto 20px;
    padding: 20px;
    border-radius: 15px;
    max-width: fit-content;
    background-color: #c74ac7;
    color: white;
    font-size: 2em;
}

.about-section {
    line-height: 50px;
    padding: 20px;
    margin: 40px;
    background-color: white;
    box-shadow: 4px 10px 10px 2px #7d107d;
    border-radius: 10px;
}


/* Contact Form styles*/
.form {
    display: block;
    margin: 100px auto;
}

/*Footer styles*/
.footer-container {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #c74ac7;
}

.footer-styles { 
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-links {
    margin: 10px 0;
    color: white;
}


/* The learn more class stylings are grouped with the bio titles class styles */

@media screen and (max-width: 600px) {
    .nav-bar a:not(:first-child) {
        display: none;
    }
    .nav-bar a.mobile-bars {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar.responsive {
        position: relative;
    }

    .nav-bar.responsive a.mobile-bars {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-bar.responsive .nav-links {
        float: none;
        display: block;
        text-align: left;
    }
}



