body{
    position: relative;
}

h1 {
  padding-top: 150px;
  text-align: center;
    
}

table {
    margin: 50px auto 0;
    border-collapse: collapse;
}

table, th, td {
    padding: 20px;
    border: 3px solid #7d107d;
}
