/*  Lato Font for body  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
    margin: 90px auto;
    padding: 10px;
    max-width: fit-content;
    color: white;
    border-radius: 5px;
}

h2,h3 {
    background-color: #c74ac7;
}

h1 {
    background-color: #7d107d;
}


.resources-container {
    margin: 50px;
}


.resources-container {
    display: flex;
    justify-content: space-evenly;
}

