h1, p {
  text-align: center;
}

#winner-msg {
  margin-top: 40px;
  font-size: 1.2em;
}


.grid { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; 
  margin-bottom: 20px;
} 
    
.grid img { 
  box-shadow: 4px 4px 10px 2px #7d107d;
  cursor: pointer;
  width: 150px;
  height:100px;
  margin: 2px; 
  transform-style: preserve-3d; 
  transition: transform 0.5s; 
} 
  
.grid img.flip { 
  transform: rotateY(180deg); 
} 
  
    
.data { 
  display: flex; 
  justify-content: space-between; 
  padding: 20px 30px; 
  font-size: 23px; 
} 
    
.data span { 
  color:#7d107d;
  font-size: 30px; 
}

.custom-btn {
  cursor: pointer;
  box-shadow: 15px 5px 5px #7d107d;
  margin: auto;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.2rem;
  background-color: #7d107d;
  color: white;
  border: none;
  width: 30vw;
  max-width: 500px;
}

#navMenu {
  z-index: 1000;
}