/*  Main color used #c74ac7   */

/*  Google Font for h1   */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

/*  CSS reset   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*      HERO SECTION    */
.hero-section{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;

}

.hero-img {
    border-radius: 90%;
    width: 400px;
    max-width: 100%;
    height: auto;
}

.hero-text {
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
}

.florence-title {
    color: #c74ac7;
    letter-spacing: 3px;
    display: block;
}