/*  Main color used #c74ac7   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
}

/*      HERO SECTION    */
.hero-section{ 
    max-width: 100%;
    height: 100vh;
}

.hero-section nav {
    position: fixed;
    background-color: #ffffff;
}

.hero-section nav a {
    display: inline-block;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 15px 20px;
    color: #c74ac7;
    text-decoration: none;
    text-transform: uppercase;
}

.hero-section nav a.active, .hero-section nav a:hover{
    color: white;
} 

.hero-section nav a.active {
    background-color: #c74ac7;
}

.hero-section nav a:hover{
    background-color: #7d107d;
}

.hero-section .hero-img {
    border-radius: 90%;
    max-width: 100%;
    width: 300px;
    height: auto;
}

.hero-section .hero-text {
    font-size: 3em;
}