p {
    margin: 6% 0;
    text-align: center;
    font-size: 1.2rem;
}

img {
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.container {
    min-width: 500px;
    width: 70%;
    box-shadow: 5px 5px 5px #c74ac7;
    margin: 3% auto;
    border: 3px solid #c74ac7;
    border-radius: 20px;
}

.btn-row {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.btn-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}

button {
    cursor: pointer;
    box-shadow: 15px 5px 5px #7d107d;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #c74ac7;
    color: white;
    border: none;
}

@media(max-width:775px){
    img {
        width: 150px;
        height: 150px;
    }

    button {
        font-size: 1.1rem;
    }
}

